:root{
    --bacground-color:#120c1c;
    --background-hover-color:#211632;
    --prime-color:#221735;
    --prime-hover-color:#352550;
    --dark-prime-color:#1b112c;
    --dark-hover-prime-color:#2E1F49;
    --secondary-color:#7f5fb9;
    --bright-color:#bdaddb;
    --text-color:#fcfbfd;
    --black:#000000;
}
#timeline-div{
    margin: 0 auto;
    position: relative;
    align-items: center;
    display: flex;
}
#timeline{
    position: relative;
    margin: auto;
    height: 20px;
    background-color: var(--bright-color);
    display: inline;
}
#timelineEl{
    position: relative;
    width: 400px;
    display: inline-block;
}